/* stylelint-disable docusaurus/copyright-header */

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

html[data-theme=dark] input, html[data-theme=dark] textarea {
  background: #282A36;
  color: #fff;
}

html[data-theme=light] input, html[data-theme=light] textarea {
  background: #D4D6D8;
  color: var(--ifm-color-gray-900);
}

input {
  display: block;
  margin: 0px auto;
  border: 0;
  border-radius: var(--ifm-global-radius);
  font-size: 1.1rem;
  padding: .7rem;
  margin-bottom: .5rem;
  width: 30%;
}

textarea {
  display: block;
  margin: 0px auto;
  border: 0;
  border-radius: var(--ifm-global-radius);
  font-family: inherit;
  font-size: 1.1rem;
  padding: .7rem;
  margin-bottom: .5rem;
  width: 30%;
  height: 15rem;
}

button {background-image: linear-gradient(to right, #5e3e92 0%, #7954b6  51%, #5e3e92  100%)}
button {
   display: block;
   margin: 0px auto;
   margin-bottom: .5rem;
   outline: 0;
   border: 0;
   border-radius: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
 }

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
 }

 button:focus {
  animation-duration: 1s;
  animation-name: buttonfocus;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

 @keyframes buttonfocus {
  from {
    background-position: left center;
  }

  to {
    background-position: right center;
    color: silver;
  }
}

.submitsuccess {
  text-align: center;
  font-size: 1.6rem;
}