/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #bd93f9;
  --ifm-color-primary-dark: #a66df7;
  --ifm-color-primary-darker: #9b5bf6;
  --ifm-color-primary-darkest: #7822f3;
  --ifm-color-primary-light: #d4b9fb;
  --ifm-color-primary-lighter: #dfcbfc;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme=dark] {
  --ifm-background-color: #020c1b;
  --ifm-background-surface-color: #020c1b;
}

html[data-theme=dark] .footer {
  --ifm-footer-background-color: #020c1b;
}

html[data-theme=light] {
  --ifm-background-color : #ffffff;
  --ifm-background-surface-color: #ffffff;
  --ifm-color-primary: #6845a2;
  --ifm-color-primary-dark: #5e3e92;
  --ifm-color-primary-darker: #583b8a;
  --ifm-color-primary-darkest: #493071;
  --ifm-color-primary-light: #724cb2;
  --ifm-color-primary-lighter: #7954b6;
  --ifm-color-primary-lightest: #8c6cc0;
}

/* Temporary fix for misaligned searchbox @cmfcmf/docusaurus-search-local */
.searchBox_dLyj {
  padding: 0 !important;
}
