name: Cloudflare Pages

on:
  push:
  workflow_dispatch:

jobs:
  cloudflare-pages:
    name: Cloudflare Pages
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: '.bun-version'
          no-cache: true

      - name: Install dependencies
        run: bun install

      - name: Run Prettier
        run: bun --bun run prettier:check

      - name: Run ESLint
        run: bun --bun run lint

      - name: Run stylelint
        run: bun --bun run stylelint

      - name: Build website
        run: bun --bun run build

      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: 'pages deploy build --project-name=hogwarts-docusaurus'
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
